@model IEnumerable<AMS.Models.Leave>

@{
    ViewBag.Title = "AllTimeLeave";
}

<h2 class="text-center">Leave Report</h2>
<h5 class="text-center">Leave data of all employees</h5>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leave_apply_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leave_start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_leave_days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leave_reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leave_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.empId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leave_apply_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leave_start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_leave_days)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leave_reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leave_status)
        </td>
    </tr>
}

</table>
