@model IEnumerable<AMS.Models.Attendance>
@*@model IEnumerable<AMS.Models.Attendance>*@
@{
    ViewBag.Title = "Admin Page";
    DateTime dt = DateTime.Today;
    int month = dt.Month;
    int year = dt.Year;
}



<div class="main">
  

        @* SIDEBAR NAVIGATION *@
      
            <ul class="sidebar">
                <li class="list">
                    <input type="button"
                           value="Admin"
                           id="viewAllEmployeeAttendance"
                           style="background-color:white; color: red; text-align:left;"
                           class="btn btn-link btn-lg m-5 p-5"
                           onclick="location.href='@Url.Action("Index", "Admin")'" />
                </li>
                <li class="list">
                    <input type="button"
                           value="Monthly Attendance Report"
                           id="viewAllEmployeeAttendance"
                           class="btn btn-link btn-lg m-5 p-5"
                           onclick="location.href='@Url.Action("viewAllEmployeeAttendance", "Admin", new {y = year, m = month})'" />
                </li>

                <li class="list">
                    <input type="button"
                           value="Employee Info"
                           id="viewAllEmployeeAttendance"
                           class="btn btn-link btn-lg m-5 p-5"
                           onclick="location.href='@Url.Action("manageLogin", "Admin")'" />
                </li>
                <li class="list">
                    <input type="button"
                           value="Manage Employee Leave"
                           id="viewAllEmployeeLeave"
                           class="btn btn-link btn-lg m-5 p-5"
                           onclick="location.href='@Url.Action("Leave", "Admin")'" />
                </li>
                <li class="list">
                    <input type="button"
                           value="Log Out!"
                           id="viewAllEmployeeLeave"
                           style="background-color:#170e0e; color:white"
                           class="btn btn-link btn-lg m-5 p-5"
                           onclick="location.href='@Url.Action("logout", "Admin")'" />
                </li>
            </ul>
         @* SIDEBAR NAVIGATION END!! *@

        @*All users present day attendance*@
    <div class="atd-table">
        <h3 class="text-center">Today Attendance Report</h3>
        <hr width="60%"/>
        <table class="table table-striped table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employee_id)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.loginTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.logoutTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AttendanceStatus)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("currMonthEmpDetails", "Admin", new { empId = item.Employee_id, y = year, m = month})">@item.Employee_id</a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.loginTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.logoutTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttendanceStatus)
                    </td>

                </tr>
            }

        </table>
    </div>
    
        @*All users present day attendance <DIV> END!!*@

</div>


