@model IEnumerable<AMS.Models.Leave>

@{
    ViewBag.Title = "Leave";
    string[] mArr = { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
    DateTime dt = DateTime.Today;
    int month = dt.Month;
    int year = dt.Year;
}
<style type="text/css">
    /*For Navigation Buttons*/
    .sidebar .btn-link {
        color: white;
        background-color: blue;
        margin: 3px;
        opacity: 1;
        transition: 0.4s;
    }

    .btn-link:hover, .btn-link:focus {
        opacity: 0.9;
    }
</style>
<div class="main">
    @* Navbar *@
    <ul class="sidebar">
        <li class="list">
            <input type="button"
                   value="Admin"
                   id="viewAllEmployeeAttendance"
                   style="background-color:white; color: red; text-align:left;"
                   class="btn btn-link btn-lg m-5 p-5"
                   onclick="location.href='@Url.Action("Index", "Admin")'" />
        </li>
        <li class="list">
            <input type="button"
                   value="Monthly Attendance Report"
                   id="viewAllEmployeeAttendance"
                   class="btn btn-link btn-lg m-5 p-5"
                   onclick="location.href='@Url.Action("viewAllEmployeeAttendance", "Admin", new {y = year, m = month})'" />
        </li>

        <li class="list">
            <input type="button"
                   value="Employee Info"
                   id="viewAllEmployeeAttendance"
                   class="btn btn-link btn-lg m-5 p-5"
                   onclick="location.href='@Url.Action("manageLogin", "Admin")'" />
        </li>
        <li class="list">
            <input type="button"
                   value="Manage Employee Leave"
                   id="viewAllEmployeeLeave"
                   class="btn btn-link btn-lg m-5 p-5"
                   onclick="location.href='@Url.Action("Leave", "Admin")'" />
        </li>
        <li class="list">
            <input type="button"
                   value="Log Out!"
                   id="viewAllEmployeeLeave"
                   style="background-color:#170e0e; color:white"
                   class="btn btn-link btn-lg m-5 p-5"
                   onclick="location.href='@Url.Action("logout", "Admin")'" />
        </li>
    </ul>
    @* SIDEBAR NAVIGATION END!! *@


    <div class="atd-table">
        <h2>Pending Leaves</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.empId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leave_apply_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leave_start_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.num_leave_days)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.leave_reason)
                </th>

                <th>
                    Approve
                </th>
                <th>
                    Reject
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.empId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.leave_apply_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.leave_start_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.num_leave_days)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.leave_reason)
                    </td>
                    <td>
                        @Html.ActionLink("Approve", "leaveApprove", new { leaveId = item.leaveId, empId = item.empId })
                    </td>
                    <td>
                        @Html.ActionLink("Reject", "leaveReject", new { leaveId = item.leaveId, empId = item.empId })
                    </td>
                </tr>
            }

        </table>
        <input type="button"
               value="All Time Leave"
               id="viewAllTimeEmployeeLeave"
               class="btn btn-primary btn-lg m-5 p-5"
               style=""
               onclick="location.href='@Url.Action("AllTimeLeave", "Admin")'" />
    </div>
</div>