
@model IEnumerable<AMS.Models.AttendanceReport>

<h2>viewAllEmployeeAttendance</h2>

<div class="container">
  
    <div class="row">
        <div class="col col-md-offset-6">
 
            <input type="text" class="form-control" value="year" id="inpYear" placeholder="Year" />
            <input type="text" class="form-control" value="month" id="inpMonth" placeholder="Month" />
           
            <input type="button"
                class="btn btn-primary" 
                value="Filter By Year and Month" 
                onclick= function/>
             
        </div>
    </div>
    <div class="row">
        @* SIDEBAR NAVIGATION *@
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <input type="button"
                           value="Employee Attendance"
                           id="viewAllEmployeeAttendance"
                           class="btn btn-primary btn-lg m-5 p-5"
                           onclick="location.href='@Url.Action("viewAllEmployeeAttendance", "Admin")'" />
                </li>
                <li class="list-group-item">
                    <input type="button"
                           value="Manage Logins"
                           id="viewAllEmployeeAttendance"
                           class="btn btn-primary btn-lg m-5 p-5"
                           onclick="location.href='@Url.Action("manageLogin", "Admin")'" />
                </li>
            </ul>
        </div> @* SIDEBAR NAVIGATION END!! *@
        <div class="col-md-7">
            <table class="table table-striped">
                <tr>
                    <th>
                        Employee Id
                    </th>

                    <th>
                        Present
                    </th>
                    <th>
                        Leave
                    </th>
                    <th>
                        Absent
                    </th>
                    <th>
                        Holidays
                    </th>
                    <th></th>
                </tr>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.empId)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.presentDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.leaveDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.absentDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.holidays)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>