
@model IEnumerable<AMS.Models.AttendanceReport>
    @{ 
        string[] mArr = { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
        int year = ViewBag.year, month = ViewBag.month;
    }

<h2 class="text-center">Employee Attendance Report</h2>
<h3 class="text-center">@mArr[month-1] - @year</h3>

<div class="container">
  
  
    <div class="row">
        @* SIDEBAR NAVIGATION *@
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <input type="button"
                           value="Employee Attendance"
                           id="viewAllEmployeeAttendance"
                           class="btn btn-primary btn-lg m-5 p-5"
                           onclick="location.href='@Url.Action("viewAllEmployeeAttendance", "Admin")'" />
                </li>

                <li class="list-group-item">
                    <input type="button"
                           value="Employee Info"
                           id="viewAllEmployeeAttendance"
                           class="btn btn-primary btn-lg m-5 p-5"
                           onclick="location.href='@Url.Action("manageLogin", "Admin")'" />
                </li>
                <li class="list-group-item">
                    <input type="button"
                           value="Manage Employee Leave"
                           id="viewAllEmployeeLeave"
                           class="btn btn-primary btn-lg m-5 p-5"
                           onclick="location.href='@Url.Action("Leave", "Admin")'" />
                </li>
            </ul>
        </div> @* SIDEBAR NAVIGATION END!! *@
        <div class="col-md-7">
            <table class="table table-striped">
                <tr>
                    <th>
                        Employee Id
                    </th>

                    <th>
                        Present
                    </th>
                    <th>
                        Leave
                    </th>
                    <th>
                        Absent
                    </th>
                    <th>
                        Holidays
                    </th>
                    <th></th>
                </tr>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*@Html.ActionLink((string)@Html.DisplayFor(modelItem => item.empId), "currMonthEmpDetails", new { empId = item.empId })*@
                            <a href="@Url.Action("currMonthEmpDetails", "Admin", new { empId = item.empId})">@item.empId</a>
                            
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.presentDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.leaveDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.absentDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.holidays)
                        </td>
                    </tr>
                }
            </table>
            <div class="row">
    
                <input type="button"
                    class="btn btn-primary"
                    value="Filter By Year and Month"
                    onclick= "location.href='@Url.Action("filterByYearMonth", "Admin")'"/>

            </div>
        
        </div>
    </div>
</div>