@model AMS.Models.Employee

@{
    ViewBag.Title = "EmployeeHome";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h1 class="text-center">@Session["userId"].ToString()</h1>
<br />
<br />

    @*// Information about employee*@

<div class="container p-3 ml-5">
    <strong>Employee ID: </strong> @Session["userId"].ToString() <br /><br />
    <strong>Employee Name: </strong> @Session["userId"].ToString()
</div>
    @*//attendance section for employee ==============================*@
<div class="jumbotron  p-3 ml-5 ">
    <h2 class="text-center">Mark Your Attendance</h2>
    <div class="container-fluid w-50 h-75">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button"
                           value="Attendance Login"
                           id="btnLogin"
                           class="btn btn-success btn-lg m-5 p-5"
                           onclick="location.href='@Url.Action("AttendanceLogin", "Employee")'"                            
                           />
                    <input type="button"
                           value="Attendance Logout"
                           id="btnLogout" 
                           class="btn btn-primary btn-lg m-5 p-5"
                           onclick="location.href='@Url.Action("AttendanceLogout", "Employee")'" />
                </div>
            </div>

        </div>

    </div>

</div>



<div class="row">

    @*// View Report sections ============================================*@

    <div class="col-lg-6">
        <div class="container p-3 ml-5 mt-5 bg-secondary text-white">
            <h2>Apply For Leave</h2>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="button"
                               value="Apply for leave"
                               id="leaveApplybtn"
                               class="btn btn-primary btn-lg m-5 p-5"
                               onclick="location.href='@Url.Action("LeaveApply", "Employee")'" />
                    </div>

                </div>

            </div>

        </div>
    </div>

    @*Apply for leave section is here===================================*@

    <div class="col-lg-6">
        <div class="container p-3 ml-5 mt-5 bg-secondary text-white">
            <h2>View Attendance Report</h2>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="button"
                               value="Attendance Report"
                               id="viewAtdReport"
                               class="btn btn-primary btn-lg m-5 p-5"
                               onclick="location.href='@Url.Action("viewAtdReport", "Employee")'" />
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

