@model IEnumerable<AMS.Models.Attendance>

@{
    ViewBag.Title = "viewAtdReport";
    DateTime dte = DateTime.Today;
    string year = ViewBag.year.ToString();
    int month = Convert.ToInt32(ViewBag.month);
    string[] mArr = { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"};
}

<h2 class="text-center">Your @mArr[@month-1] - @year Attendance Report</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loginTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logoutTime)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.AttendanceStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loginTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.logoutTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendanceStatus)
        </td>

    </tr>
}
    
</table>
<input type="button"
       value="Filter by year and month"
       id="btnLogout"
       style=""
       class="btn btn-primary"
       onclick="location.href='@Url.Action("filterYearMonth", "Employee")'" />
